.btn-close {
  z-index: 999;
}

.main {
  width: 100vw;
  background-color: #D5F9DE;
}

.box {
  border: 1px solid grey;
  padding: 1%;
}

.appbar {
  background-color: #0b132b;
  color: white;
}

.custom-container {
  background-color: D5F9DE;
  height: 100%;
}

.profile-pic {
  padding: 0%;
  border-radius: 15%;
  margin: 1em;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, .5);
}

li:hover {
  background-color: 8FA6CB;
  cursor: pointer;
}

.appbar-title {
  margin-left: 1%;
}

.custom-card {
  margin: 1em auto;
  margin-bottom: 3%;
  box-shadow: 0 0 10px #c0c0c0;
  padding: 3%;
  border-radius: 30px;
}

.about-me-div > div {
  margin-bottom: 1em;
  max-width: 90%;
}

.label {
  font-weight: bold;
}

img {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 600px) {
  .custom-container {
    padding: 0;
    margin: 0;
  }

  .profile-pic {
    margin: auto;
  }

  .custom-card {
    width: 90%;
    margin: auto;
    margin-bottom: 2em;
  }

  .custom-container {
    height: 100%;
  }
}
